.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.972000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.722000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.060000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-2.754722px;}
._0{margin-left:-1.722587px;}
.fc4{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fc2{color:rgb(13,47,66);}
.fc1{color:rgb(0,87,155);}
.fc3{color:rgb(227,44,45);}
.fs3{font-size:39.008728px;}
.fs0{font-size:42.009400px;}
.fs2{font-size:54.012085px;}
.fs1{font-size:84.018799px;}
.y0{bottom:0.000000px;}
.y1b{bottom:148.030771px;}
.y1a{bottom:178.037514px;}
.y17{bottom:193.415969px;}
.y19{bottom:208.044185px;}
.y18{bottom:238.050927px;}
.y10{bottom:257.555223px;}
.y16{bottom:270.308078px;}
.y15{bottom:270.683174px;}
.y14{bottom:299.189581px;}
.y13{bottom:329.196252px;}
.y11{bottom:329.571371px;}
.y12{bottom:359.202994px;}
.y1f{bottom:407.838128px;}
.y2{bottom:446.347496px;}
.yf{bottom:485.543765px;}
.ye{bottom:515.550460px;}
.yd{bottom:545.557207px;}
.ya{bottom:545.932294px;}
.yc{bottom:575.563914px;}
.yb{bottom:605.570623px;}
.y3{bottom:608.383762px;}
.y9{bottom:637.827858px;}
.y8{bottom:638.202915px;}
.y7{bottom:666.709301px;}
.y6{bottom:696.716024px;}
.y4{bottom:697.091096px;}
.y5{bottom:726.722731px;}
.y1e{bottom:839.060371px;}
.y1c{bottom:840.560703px;}
.y1d{bottom:868.316917px;}
.y1{bottom:896.823295px;}
.h6{height:31.792113px;}
.h2{height:34.237661px;}
.h5{height:36.212102px;}
.h4{height:44.019849px;}
.h3{height:59.905404px;}
.h0{height:948.959960px;}
.h1{height:949.000000px;}
.w0{width:1116.959960px;}
.w1{width:1117.000000px;}
.x0{left:0.000000px;}
.x2{left:63.893200px;}
.x1{left:376.068522px;}
.xd{left:381.835443px;}
.x3{left:483.233092px;}
.xe{left:493.610427px;}
.xf{left:516.507476px;}
.x4{left:560.500417px;}
.x7{left:643.018917px;}
.x5{left:661.773068px;}
.x6{left:669.274772px;}
.x8{left:702.907291px;}
.x9{left:788.426391px;}
.xc{left:870.944916px;}
.xa{left:889.699067px;}
.xb{left:897.200771px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-3.672962pt;}
._0{margin-left:-2.296783pt;}
.fs3{font-size:52.011638pt;}
.fs0{font-size:56.012533pt;}
.fs2{font-size:72.016113pt;}
.fs1{font-size:112.025065pt;}
.y0{bottom:0.000000pt;}
.y1b{bottom:197.374361pt;}
.y1a{bottom:237.383352pt;}
.y17{bottom:257.887959pt;}
.y19{bottom:277.392246pt;}
.y18{bottom:317.401236pt;}
.y10{bottom:343.406964pt;}
.y16{bottom:360.410771pt;}
.y15{bottom:360.910899pt;}
.y14{bottom:398.919441pt;}
.y13{bottom:438.928335pt;}
.y11{bottom:439.428495pt;}
.y12{bottom:478.937326pt;}
.y1f{bottom:543.784171pt;}
.y2{bottom:595.129995pt;}
.yf{bottom:647.391687pt;}
.ye{bottom:687.400613pt;}
.yd{bottom:727.409610pt;}
.ya{bottom:727.909725pt;}
.yc{bottom:767.418552pt;}
.yb{bottom:807.427498pt;}
.y3{bottom:811.178349pt;}
.y9{bottom:850.437144pt;}
.y8{bottom:850.937221pt;}
.y7{bottom:888.945734pt;}
.y6{bottom:928.954699pt;}
.y4{bottom:929.454795pt;}
.y5{bottom:968.963641pt;}
.y1e{bottom:1118.747161pt;}
.y1c{bottom:1120.747603pt;}
.y1d{bottom:1157.755889pt;}
.y1{bottom:1195.764393pt;}
.h6{height:42.389485pt;}
.h2{height:45.650214pt;}
.h5{height:48.282803pt;}
.h4{height:58.693132pt;}
.h3{height:79.873872pt;}
.h0{height:1265.279947pt;}
.h1{height:1265.333333pt;}
.w0{width:1489.279947pt;}
.w1{width:1489.333333pt;}
.x0{left:0.000000pt;}
.x2{left:85.190934pt;}
.x1{left:501.424696pt;}
.xd{left:509.113924pt;}
.x3{left:644.310789pt;}
.xe{left:658.147237pt;}
.xf{left:688.676635pt;}
.x4{left:747.333889pt;}
.x7{left:857.358556pt;}
.x5{left:882.364091pt;}
.x6{left:892.366363pt;}
.x8{left:937.209721pt;}
.x9{left:1051.235188pt;}
.xc{left:1161.259888pt;}
.xa{left:1186.265423pt;}
.xb{left:1196.267694pt;}
}
